html{
    margin:-50px 0;
}
body {
    background-color: #e5e5e5;
    position: relative;
    font-family: "Montserrat", sans-serif;
    width: 1024px;
    margin: 0 auto;
}
header > div.wrapper.jaune {
    max-height: 147px;
    background-color:#FFD59E;
}
header > div.wrapper.jaune > h3 {
    position: relative;
    font-size: 34px;
    font-weight: 100;
    bottom: 132px;
    left: 325px;
}
header > div.wrapper.jaune > div.underline {
    position: relative;
    bottom: 160px;
    float: right;
}
ul {
    max-height: 46px;
    margin: 0px;
    padding-left: 85px;
    background-color: #ff6738;
}
header > nav > ul > li {
    display: inline-block;
    padding: 12px;
}
header > nav > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
header > nav > ul > li:hover {
    text-shadow: 2px 2px 4px #000000;
    background-color:#FFD59E;
}
body > img {
    margin-top: -56px;
    margin-bottom: 20px;
    width: 1024px;
    height: 300px;
}
header > div.wrapper.jaune > h1 {
    font-family: "Francois One", sans-serif;
    font-size: 72px;
    padding: 10px 0;
    margin-bottom: 0px;
}
h1,
h2,
h3 {
    font-family: "Francois One", sans-serif;
    color: #ff6738;
}
h4 {
    color: #ffa938;
}
header > .jaune {
    background-color: rgba(255, 213, 158, 0.47);
    padding: 0 0 0 30px;
}
.jaune {
    background-color: #FFD59E;
    padding: 0 0 0 30px;
}
.underline {
    background-color: #ff6738;
    width: 671px;
    height: 9px;
}
section > article > header > h4 {
    font-size: 34px;
    font-weight: 700;
    margin: 0px;
}
section > article > p {
    line-height: 170%;
    font-size: 14px;
    margin: 5px 0;
}
section > article > img {
    float: left;
    padding: 8px 25px 0 0;
    width: 327px;
    height: 297px;
}
section > article {
    padding-bottom: 10px;
}
section > article .underline {
    float: right;
    position: relative;
    top: 6px;
}
header.fondateur {
    margin-top: 40px;
    background-image: url(../images/geometry.jpg);
    background-size: 1024px 364px;
    height: 364px;
}
.fondateur > h2 {
    position: relative;
    top: 310px;
    left: 695px;
    width: 405px;
    height: 63px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}
article > .wrapper.jaune {
    padding-top: 20px;
    height: 427px;
    margin: 0 auto;
}
.col1 {
    float: left;
    width: 415px;
    text-align: justify;
    margin-left: 50px;
    line-height: 23px;
    font-size: 14px;
}
.col2 {
    float: left;
    width: 415px;
    text-align: justify;
    margin-left: 30px;
    line-height: 23px;
    font-size: 14px;
}
.orangebar {
    position: relative;
    top: 20px;
    background-color: #ff6738;
    height: 54px;
    width: 636px;
    float: right;
}
section.description > header > h2 {
    font-family: Francois One;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 162.4%;
    margin:0;
    position: relative;
    left: 80px;
}
section.description > article > header > h3 {
    font-family: Montserrat;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 162.4%;
    padding: 0px;
    margin: 0px;
}
section.description > article > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    padding: 25px 0;
}
section.description > article > img {
    height: 292px;
    width: 502px;
}
section.description > article > img.floatr {
    float: right;
    padding-left: 25px;
    padding: 0 0 0 25px;
    position: relative;
    bottom: 16px;
}
section.description > article.mid > header > h3 {
    float: right;
    position: relative;
    right: 45px;
}
article.mid > img {
    position: relative;
    top: 8px;
}
.text > h3 {
    position: relative;
    top: 25px;
}
div.orangebar.tarif {
    float: left;
    width: 674px;
}
table {
    clear: both;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 23px;
    border-bottom: 5px inset #ffa938;
}
table > thead > tr > th {
    padding: 15px;
    border-bottom: 10px solid #ffa938;
}
.item-desc {
    text-align: justify;
    font-weight:500;
}
.item-price,
.item-date {
    text-align: center;
    font-weight:700;
}
.tarif > h2 {
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 162.4%;
    margin-top: 0px;
    margin-left: 700px;
}
td,
th {
    border: 5px inset #ffa938;
    background-color: #ffd59e;
}
tr:nth-child(4n) {
    border-bottom: 10px solid #ffa938;
}
thead,
tfoot {
    text-transform: uppercase;
    font-size: 20px;
    background-color: #ffd59e;
    color: #ff6738;
}
form{
    max-width:1024px;
    margin-bottom:125px;
}
.contact > header > h2 {
    font-family: Francois One;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 162.4%;
    margin: 20px 0;
    position: relative;
    left: 80px;
}
.contact .orangebar {
    width:569px;
}
fieldset{
    border:none;
    padding:12px
}
.contact > form > fieldset > input, textarea{
    max-width: 975px;
    background-color: #FFD59E;
    border-radius: 5px;
    font-size:24px;
    padding:10px;
    border:none;
    resize: none;
}
.contact > form > fieldset > input::placeholder,textarea::placeholder{
    font-family: Montserrat;
    color:#B7B7B7;
    text-transform:uppercase;
}
#nom {
    min-width:360px;
    text-transform:capitalize;
}
#prenom {
    margin-left:20px;
    min-width: 560px;
    text-transform:capitalize;
}
#courriel,#telephone {
    min-width: 656px;
}
#comment{
    min-width:975px;
    font-family: Montserrat;
}
.contact > form > input.valid {
    float:right;
    position:relative;
    right:100px;
    margin-top:15px;
    border:none;
    font-family: Montserrat;
    font-weight:bold;
    font-size:24px;
    border-radius:5px;
    background-color: #FF6738;
    color: #ffffff;
    width:310px;
    height:86px;
}
.contact > form > input.valid:hover{
    text-shadow: 2px 2px 4px #000000;
    background-color:#FFD59E;
    font-weight:bolder;
    cursor: pointer;
}
footer {
    background-color: #C4C4C4;
    max-height:295px;
    padding: 0 0 40px 80px;
}
footer > h1 {
    font-size:72px;
    margin-bottom:0;
    padding-top:10px;
}
footer> .orangebar{
    margin-top:15px;
    width:620px;
}
footer > p {
    font-weight:bold;
}
footer > p.coords {
    margin-top:0;
}